/* Estilos personalizados para el Footer */
.footer {
  @apply w-full min-w-full left-0 py-10 text-center mt-12 shadow-lg relative z-10 bg-gradient-to-r from-blue-700 to-blue-400 dark:from-gray-900 dark:to-gray-800 text-white;
}
.footerTitle {
  @apply font-extrabold text-2xl;
}
.footerContact {
  @apply mt-2;
}
.footerLink {
  @apply underline cursor-pointer hover:text-blue-200 dark:hover:text-blue-400 transition;
}
.footerSocial {
  @apply mt-4 text-2xl flex justify-center gap-4;
}
.footerSocialIcon {
  @apply hover:text-blue-300 dark:hover:text-blue-400 transition;
}
.footerCopyright {
  @apply mt-4 text-sm text-white dark:text-gray-400;
}
.footerModalForm {
  @apply flex flex-col gap-3 dark:bg-gray-900 dark:text-white;
}
.footerModalTitle {
  @apply mb-2 text-blue-700 dark:text-blue-300 font-bold text-lg;
}
.footerTextarea {
  @apply w-full px-3 py-2 border rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-[var(--focus)] dark:bg-gray-800 dark:text-white dark:border-gray-700;
}