.navbar {
  background-color: hsl(212, 92%, 64%); /* Un negro muy oscuro */
  color: #43a2f0;
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #43a2f0; /* Separación sutil */
}
@media (min-width: 640px) {
  .navbar {
    flex-direction: row;
  }
}

.navbarTitle {
  font-size: 1.5rem;
  font-weight: bold;
  color: #000000; /* Título blanco */
  letter-spacing: 0.05em;
}

.navbarLinks {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.navLink {
  color: #000000;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  text-decoration: none; /* Quitamos el subrayado por defecto */
  transition: background-color 0.3s ease-in-out;
}

.navLink:hover {
  background-color: #ffffff; /* Un gris oscuro al pasar el cursor */
}

.navLinkActive {
  background-color: #43a2f0; /* Un gris oscuro para el enlace activo */
  font-weight: bold;
  position: relative;
  overflow: hidden;
}

/* Subrayado animado para el enlace activo */
.navLinkActive::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0.25rem;
  width: 70%;
  height: 2px;
  background-color: #000000;
}

.profileSection {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.profileImage {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #000000;
}